@media screen and (max-width: 1366px) {

    body{
        font-size: 1rem;
    }

    header .entrar_cadastrar {
        width: 13%;
        margin-top: 2%;
        margin-right: 2.5%;
        
    }
    
    header #cadastrar {
        font-size: 1rem;
    }
    
    header #entrar {
        font-size: 1rem;
    }

    header ul {
        margin-top: 2%;
        font-size: 1rem;
        width: 20%;
    }

    nav #logo {
        margin-top: 15%;
        margin-left: 7%;
        width: 85%;
    }
    
    nav ul a {
        font-size: 1rem;
    }
    nav h1 {
        font-size: 1rem;
    }


    #conteudo ul{
        display:inline-block;
        max-width: 13%;
        margin: 15px;
        
      }
      
      
      #conteudo li{
        color: black;
        list-style: none;
      }
    
      #conteudo img{
        width: 100%;
        margin-left: 1%;
      }
    
      #conteudo p{
        float: left;
        margin-left: 1.5%;
      }

      header input {
        width: 50%;
        height: 40%;
        margin-top: 1.7%;
        margin-left: 4%;
       
    }

}

